<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.common.BannerMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.common.Banner">
    <id column="bannerid" jdbcType="INTEGER" property="bannerid" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    bannerid, type, name, remark, imgurl, url, sort, createtime, updatetime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from banner
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.suxiaomei.admin.entity.common.Banner">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bannerid != null">
        bannerid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bannerid != null">
        #{bannerid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.suxiaomei.admin.entity.common.Banner">
    update banner
    set type = #{type,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="findByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    <if test="type >= 0">
    	where type = #{type,jdbcType=INTEGER}
    </if>
    order by sort asc
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.common.Banner">
    update banner
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=TINYINT},
      </if>
    </set>
    where bannerid = #{bannerid,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="banner">
    insert into banner (type, name,remark, imgurl, url,sort)
    values (#{type,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{sort,jdbcType=TINYINT})
  </insert>
</mapper>