<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.common.DictionaryMapper">
  <resultMap id="BaseResultMap" type="dictionary">
    <id column="dictionaryid" jdbcType="INTEGER" property="dictionaryid" />
    <result column="dictionarykey" jdbcType="VARCHAR" property="dictionarykey" />
    <result column="dictionaryname" jdbcType="VARCHAR" property="dictionaryname" />
    <collection property="values" ofType="dict" select="com.suxiaomei.admin.dao.common.DictionaryValueMapper.getDictByDictionaryid" column="dictionaryid" ></collection>
  </resultMap>
  <sql id="Base_Column_List">
    dictionaryid, dictionarykey, dictionaryname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where dictionaryid = #{dictionaryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary
    where dictionaryid = #{dictionaryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="dictionary">
    insert into dictionary (dictionaryid, dictionarykey, dictionaryname
      )
    values (#{dictionaryid,jdbcType=INTEGER}, #{dictionarykey,jdbcType=VARCHAR}, #{dictionaryname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="dictionary">
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictionaryid != null">
        dictionaryid,
      </if>
      <if test="dictionarykey != null">
        dictionarykey,
      </if>
      <if test="dictionaryname != null">
        dictionaryname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictionaryid != null">
        #{dictionaryid,jdbcType=INTEGER},
      </if>
      <if test="dictionarykey != null">
        #{dictionarykey,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryname != null">
        #{dictionaryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="dictionary">
    update dictionary
    <set>
      <if test="dictionarykey != null">
        dictionarykey = #{dictionarykey,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryname != null">
        dictionaryname = #{dictionaryname,jdbcType=VARCHAR},
      </if>
    </set>
    where dictionaryid = #{dictionaryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="dictionary">
    update dictionary
    set dictionarykey = #{dictionarykey,jdbcType=VARCHAR},
      dictionaryname = #{dictionaryname,jdbcType=VARCHAR}
    where dictionaryid = #{dictionaryid,jdbcType=INTEGER}
  </update>
  
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary
  </select>
</mapper>