<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.business.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.business.Business">
    <id column="businessid" jdbcType="INTEGER" property="businessid" />
    <result column="sxmsystemid" jdbcType="INTEGER" property="sxmsystemid" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
    <result column="corporations" jdbcType="VARCHAR" property="corporations" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="accredittime" jdbcType="TIMESTAMP" property="accredittime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <resultMap id="ExtendResultMap" type="BusinessExtend" extends="BaseResultMap">
   	<result column="auditstatus" jdbcType="INTEGER" property="identificationstatus"/>
  	<association property="user" javaType="user" select="com.suxiaomei.admin.dao.account.UserMapper.findByBusinessid" column="businessid"></association>
  </resultMap>
  <resultMap id="ExtendDetailResultMap" type="BusinessExtend" extends="ExtendResultMap">
  	<collection property="isocBusinesses" ofType="isocIdentificationBusinessExtend" select="com.suxiaomei.admin.dao.isoc.IsocIdentificationBusinessMapper.findByBusinessid" column="businessid"></collection>
  	<collection property="contacts" ofType="contact" select="com.suxiaomei.admin.dao.account.ContactMapper.findByRelationidAndType" column="{relationid=businessid,type=3}"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    businessid, sxmsystemid, fullname, shortname, corporations, license, phone, address, 
    email, logo, url, summary, accredittime, createtime, updatetime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business
    where businessid = #{businessid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business
    where businessid = #{businessid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suxiaomei.admin.entity.business.Business">
    insert into business (businessid, sxmsystemid, fullname, 
      shortname, corporations, license, 
      phone, address, email, 
      logo, url, summary, 
      accredittime, createtime, updatetime, 
      status)
    values (#{businessid,jdbcType=INTEGER}, #{sxmsystemid,jdbcType=INTEGER}, #{fullname,jdbcType=VARCHAR}, 
      #{shortname,jdbcType=VARCHAR}, #{corporations,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{accredittime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.suxiaomei.admin.entity.business.Business">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        businessid,
      </if>
      <if test="sxmsystemid != null">
        sxmsystemid,
      </if>
      <if test="fullname != null">
        fullname,
      </if>
      <if test="shortname != null">
        shortname,
      </if>
      <if test="corporations != null">
        corporations,
      </if>
      <if test="license != null">
        license,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="accredittime != null">
        accredittime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="sxmsystemid != null">
        #{sxmsystemid,jdbcType=INTEGER},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null">
        #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="corporations != null">
        #{corporations,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="accredittime != null">
        #{accredittime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.business.Business">
    update business
    <set>
      <if test="sxmsystemid != null">
        sxmsystemid = #{sxmsystemid,jdbcType=INTEGER},
      </if>
      <if test="fullname != null">
        fullname = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="shortname != null">
        shortname = #{shortname,jdbcType=VARCHAR},
      </if>
      <if test="corporations != null">
        corporations = #{corporations,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="accredittime != null">
        accredittime = #{accredittime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where businessid = #{businessid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suxiaomei.admin.entity.business.Business">
    update business
    set sxmsystemid = #{sxmsystemid,jdbcType=INTEGER},
      fullname = #{fullname,jdbcType=VARCHAR},
      shortname = #{shortname,jdbcType=VARCHAR},
      corporations = #{corporations,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      accredittime = #{accredittime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where businessid = #{businessid,jdbcType=INTEGER}
  </update>
  
  
  <select id="findByPageList" resultMap="ExtendResultMap">
	select b.*,IFNULL(iib.isocidentificationbusinessid,0) identificationstatus
	from business b
	left join (
		select * from (
			select * from isoc_identification_business where enddate > now() order by enddate desc limit 0,1000000000
		) sss group by businessid
	) iib on b.businessid = iib.businessid
	<where>
		<if test="business.fullname!=null and business.fullname != ''">
			and b.fullname like concat('%', #{business.fullname}, '%')
		</if>
		<if test="business.identificationstatus!=null">
			<if test="business.identificationstatus==1">
				and iib.isocidentificationbusinessid > 0
			</if>
			<if test="business.identificationstatus==2">
				and iib.isocidentificationbusinessid is null
			</if>
		</if>
	</where>
	group by b.createtime desc
	limit #{pageNo},#{pageSize}
  </select>
  <select id="findCountByCondition" resultType="Integer">
	select count(*)
	from business b
	left join (
		select * from (
			select * from isoc_identification_business where enddate > now() order by enddate desc limit 0,1000000000
		) sss group by businessid
	) iib on b.businessid = iib.businessid
	<where>
		<if test="business.fullname!=null and business.fullname != ''">
			and b.fullname like concat('%', #{business.fullname}, '%')
		</if>
		<if test="business.identificationstatus!=null">
			<if test="business.identificationstatus==1">
				and iib.isocidentificationbusinessid > 0
			</if>
			<if test="business.identificationstatus==2">
				and iib.isocidentificationbusinessid is null
			</if>
		</if>
	</where>
  </select>
  <select id="findDetailByBusinessid" parameterType="java.lang.Integer" resultMap="ExtendDetailResultMap">
	select b.*,IFNULL(iib.isocidentificationbusinessid,0) identificationstatus,3
	from business b
	left join (
		select * from (
			select * from isoc_identification_business where enddate > now() order by enddate desc limit 0,1000000000
		) sss group by businessid
	) iib on b.businessid = iib.businessid
	where b.businessid = #{businessid,jdbcType=INTEGER} limit 0,1
  </select>
</mapper>