<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.business.BusinessGoodsMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.business.BusinessGoods">
    <id column="businessgoodsid" jdbcType="INTEGER" property="businessgoodsid" />
    <result column="businessid" jdbcType="INTEGER" property="businessid" />
    <result column="isocgoodsid" jdbcType="INTEGER" property="isocgoodsid" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="consume" jdbcType="INTEGER" property="consume" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    businessgoodsid, businessid, isocgoodsid, total, consume, createtime, updatetime, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_goods
    where businessgoodsid = #{businessgoodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business_goods
    where businessgoodsid = #{businessgoodsid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.suxiaomei.admin.entity.business.BusinessGoods">
    insert into business_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessgoodsid != null">
        businessgoodsid,
      </if>
      <if test="businessid != null">
        businessid,
      </if>
      <if test="isocgoodsid != null">
        isocgoodsid,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="consume != null">
        consume,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessgoodsid != null">
        #{businessgoodsid,jdbcType=INTEGER},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="isocgoodsid != null">
        #{isocgoodsid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="consume != null">
        #{consume,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.business.BusinessGoods">
    update business_goods
    <set>
      <if test="businessid != null">
        businessid = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="isocgoodsid != null">
        isocgoodsid = #{isocgoodsid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="consume != null">
        consume = #{consume,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where businessgoodsid = #{businessgoodsid,jdbcType=INTEGER}
  </update>
  
  
  
  
  <select id="findByBusinessidAndIsocGoodsid" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_goods
    where businessid = #{businessid,jdbcType=INTEGER} and isocgoodsid = #{isocgoodsid,jdbcType=INTEGER}
    limit 0,1
  </select>
  <update id="updateByPrimaryKey" parameterType="BusinessGoods">
    update business_goods
    set total = #{total,jdbcType=INTEGER},
      consume = #{consume,jdbcType=INTEGER}
    where businessgoodsid = #{businessgoodsid,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="BusinessGoods">
    insert into business_goods (businessid, isocgoodsid,total, consume)
    values (#{businessid,jdbcType=INTEGER}, #{isocgoodsid,jdbcType=INTEGER}, 
      #{total,jdbcType=INTEGER}, #{consume,jdbcType=INTEGER})
  </insert>
  <select id="findBusinessGoodsByIsocidAndBusinessidForBusinesss" resultMap="BaseResultMap">
  	select 
  	  IFNULL(bg.businessgoodsid,0) businessgoodsid,IFNULL(bg.businessid,0) businessid,IFNULL(bg.total,0) total,
	  IFNULL(bg.consume,0) consule,IFNULL(bg.status,0) status,bg.createtime,bg.updatetime,g.name,ig.price,
	  ig.isocgoodsid,IFNULL((bg.total-bg.consume),0) as nums
	from isoc_goods ig
	left join business_goods bg on (ig.isocgoodsid = bg.isocgoodsid and bg.businessid = #{businessid,jdbcType=INTEGER})
	left join goods g on g.goodsid = ig.goodsid
	where ig.isocid = #{isocid,jdbcType=INTEGER}
	group by ig.isocgoodsid
  </select>
</mapper>