<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.contract.AssessmentImgMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.contract.AssessmentImg">
    <id column="assessmentimgid" jdbcType="INTEGER" property="assessmentimgid" />
    <result column="assessmentdetailid" jdbcType="INTEGER" property="assessmentdetailid" />
    <result column="smallurl" jdbcType="VARCHAR" property="smallurl" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    assessmentimgid, assessmentdetailid, smallurl, url, createtime, updatetime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assessment_img
    where assessmentimgid = #{assessmentimgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assessment_img
    where assessmentimgid = #{assessmentimgid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suxiaomei.admin.entity.contract.AssessmentImg">
    insert into assessment_img (assessmentimgid, assessmentdetailid, 
      smallurl, url, createtime, 
      updatetime, status)
    values (#{assessmentimgid,jdbcType=INTEGER}, #{assessmentdetailid,jdbcType=INTEGER}, 
      #{smallurl,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.suxiaomei.admin.entity.contract.AssessmentImg">
    insert into assessment_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assessmentimgid != null">
        assessmentimgid,
      </if>
      <if test="assessmentdetailid != null">
        assessmentdetailid,
      </if>
      <if test="smallurl != null">
        smallurl,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assessmentimgid != null">
        #{assessmentimgid,jdbcType=INTEGER},
      </if>
      <if test="assessmentdetailid != null">
        #{assessmentdetailid,jdbcType=INTEGER},
      </if>
      <if test="smallurl != null">
        #{smallurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.contract.AssessmentImg">
    update assessment_img
    <set>
      <if test="assessmentdetailid != null">
        assessmentdetailid = #{assessmentdetailid,jdbcType=INTEGER},
      </if>
      <if test="smallurl != null">
        smallurl = #{smallurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where assessmentimgid = #{assessmentimgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suxiaomei.admin.entity.contract.AssessmentImg">
    update assessment_img
    set assessmentdetailid = #{assessmentdetailid,jdbcType=INTEGER},
      smallurl = #{smallurl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where assessmentimgid = #{assessmentimgid,jdbcType=INTEGER}
  </update>
</mapper>