<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.isoc.IsocEmpowerFirmMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.isoc.IsocEmpowerFirm">
    <id column="isocempowerfirmid" jdbcType="INTEGER" property="isocempowerfirmid" />
    <result column="businessid" jdbcType="INTEGER" property="businessid" />
    <result column="isocid" jdbcType="INTEGER" property="isocid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="corporations" jdbcType="VARCHAR" property="corporations" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    isocempowerfirmid, businessid, isocid, name, type, corporations, mobile, createtime, 
    updatetime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from isoc_empower_firm
    where isocempowerfirmid = #{isocempowerfirmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from isoc_empower_firm
    where isocempowerfirmid = #{isocempowerfirmid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suxiaomei.admin.entity.isoc.IsocEmpowerFirm">
    insert into isoc_empower_firm (isocempowerfirmid, businessid, isocid, 
      name, type, corporations, 
      mobile, createtime, updatetime, 
      status)
    values (#{isocempowerfirmid,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, #{isocid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{corporations,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.isoc.IsocEmpowerFirm">
    update isoc_empower_firm
    <set>
      <if test="businessid != null">
        businessid = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="isocid != null">
        isocid = #{isocid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="corporations != null">
        corporations = #{corporations,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where isocempowerfirmid = #{isocempowerfirmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suxiaomei.admin.entity.isoc.IsocEmpowerFirm">
    update isoc_empower_firm
    set businessid = #{businessid,jdbcType=INTEGER},
      isocid = #{isocid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      corporations = #{corporations,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where isocempowerfirmid = #{isocempowerfirmid,jdbcType=INTEGER}
  </update>
  
  
  <insert id="insertSelective" parameterType="isocEmpowerFirm" useGeneratedKeys="true" keyProperty="isocempowerfirmid">
    insert into isoc_empower_firm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        businessid,
      </if>
      <if test="isocid != null">
        isocid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="corporations != null">
        corporations,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="isocid != null">
        #{isocid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="corporations != null">
        #{corporations,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findSelfFirmByIsocid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from isoc_empower_firm
    where isocid = #{isocid,jdbcType=INTEGER} and type = 0 
    limit 0,1
  </select>
</mapper>