<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suxiaomei.admin.dao.account.ContactMapper">
  <resultMap id="BaseResultMap" type="com.suxiaomei.admin.entity.account.Contact">
    <id column="contactid" jdbcType="INTEGER" property="contactid" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="relationid" jdbcType="INTEGER" property="relationid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    contactid, type, relationid, name, phone, createtime, updatetime, status
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contact
    where contactid = #{contactid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.suxiaomei.admin.entity.account.Contact">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contactid != null">
        contactid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="relationid != null">
        relationid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contactid != null">
        #{contactid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="relationid != null">
        #{relationid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suxiaomei.admin.entity.account.Contact">
    update contact
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="relationid != null">
        relationid = #{relationid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where contactid = #{contactid,jdbcType=INTEGER}
  </update>
  
  
  <select id="findByRelationidAndType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contact
    where relationid = #{relationid,jdbcType=INTEGER} and type = #{type,jdbcType=INTEGER}
    order by createtime desc
  </select>
  <insert id="insert" parameterType="contact">
    insert into contact (type, relationid,name, phone)
    values (#{type,jdbcType=TINYINT}, #{relationid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contact
    where contactid = #{contactid,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.suxiaomei.admin.entity.account.Contact">
    update contact
    set 
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where contactid = #{contactid,jdbcType=INTEGER}
  </update>
</mapper>